:root {
    --main-color: #757575;
    --title-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --background-color: #2F303A;
    --secondary-babackground-color: #F5F4FA;
    --card-background: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--main-color);
    background-color: var(--white-color);
}



/* Header */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

    color: var(--accent-color);
}

.logo-black {
    color: #000000;
}

.list {
    list-style: none;
}

.nav-item {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--title-color);
}

.nav-item:hover,
.nav-item:focus {
    color: var(--accent-color);
}

.contacs {
    color: var(--main-color);
}

.current {
    color: var(--accent-color);
}

/* Hero */

.hero {
    background-color: var(--background-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--white-color);
}

.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    color: var(--white-color);
    background-color: var(--accent-color);

}


/* Our advantages */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.secondary-title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--title-color);
}


/* What do we do? */

.title {
    font-size: 36px;
    line-height: 1.17;

    color: var(--title-color);
}


/* Our team */

.team {
    background: var(--secondary-babackground-color);
}


.team-item {
    width: 270px;
    height: 368px;

    background: var(--card-background);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    color: var(--title-color);
}

.team-position {
    font-size: 16px;
    line-height: 1.19px;
}


/* Footer */

.footer {
    background-color: var(--background-color);
}

.logo-white {
    color: var(--white-color);
}

.address-item,
.address-list-item {
    text-decoration: none;
    font-style: normal;

    color: var(--white-color);
}

.address-list-item {
    color: rgba(255, 255, 255, 0.6);
}

.address-item:hover,
.address-item:focus,
.address-list-item:hover,
.address-list-item:focus {
    color: var(--accent-color);
}




/* Portfolio */

.portfolio-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    color: var(--title-color);
    background-color: var(--secondary-babackground-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--accent-color);
    color: var(--white-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.portfolio-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--title-color);
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.88;
}